body {
    margin: 0;
    box-sizing: border-box;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(45, 45, 45);
    background-image: url('https://unsplash.com/photos/E_eWwM29wfU');
}

.card {
    background-color: #fff;
    padding: 32px 16px;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
}